@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.article {
    background: transparent;
    border: none;
    padding: 0;
    padding-top: $spacing-md;

    @include respond-to(md) {
        padding: 0;
        padding-top: $spacing-sm;
    }
}
