@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.markdownContent {
    line-height: 1.5;
    color: $brand-text-primary;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 0.95rem;
    font-family: $font-family-base;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
        color: $gray-900;
    }

    h1 {
        font-size: 1.75em;
        padding-bottom: 0.3em;
        border-bottom: 1px solid $gray-200;
    }

    h2 {
        font-size: 1.35em;
        padding-bottom: 0.3em;
        border-bottom: 1px solid $gray-200;
    }

    h3 {
        font-size: 1.15em;
    }

    p {
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 1em;
        line-height: 1.6;
        word-break: break-word;
    }

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 16px;
        padding-left: 2em;
        font-size: 1em;
    }

    li {
        word-wrap: break-all;
        line-height: 1.6;

        & + li {
            margin-top: 0.25em;
        }
    }

    blockquote {
        margin: 0 0 16px;
        padding: 0 1em;
        color: $gray-600;
        border-left: 0.25em solid $gray-300;
        font-size: 1em;

        & > :first-child {
            margin-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }

    code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 0.875em;
        background-color: rgba(175, 184, 193, 0.2);
        color: #cf222e;
        font-weight: 400;
        border-radius: 6px;
        font-family: $font-family-mono;
    }

    pre {
        padding: 16px;
        overflow: auto;
        font-size: 0.825em;
        line-height: 1.45;
        background-color: #0d1117;
        color: #e6edf3;
        border-radius: 6px;
        margin-bottom: 16px;

        code {
            padding: 0;
            margin: 0;
            font-size: 1em;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
            color: inherit;
            overflow: auto;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    hr {
        height: 0.25em;
        padding: 0;
        margin: 24px 0;
        background-color: $gray-200;
        border: 0;
    }

    table {
        display: block;
        width: 100%;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        border-spacing: 0;
        border-collapse: collapse;
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 0.9em;

        tr {
            background-color: white;
            border-top: 1px solid $gray-200;

            &:nth-child(2n) {
                background-color: $gray-50;
            }
        }

        th,
        td {
            padding: 6px 13px;
            border: 1px solid $gray-200;
        }

        th {
            font-weight: 600;
        }
    }

    a {
        color: $brand-blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        max-width: 100%;
        box-sizing: content-box;
        background-color: white;
    }
}
